.App {
  text-align: center;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.searchbar {
  max-width: 400px !important;
}

.navbar {
  background-color: #8ba892;
}

.warncolor {
  background-color: #e2ba87;
}

.home {
  background-color: #d99763;
}

.cardbg {
  background-color: #3a292b;
}

a {
  text-decoration: none;
}
